@charset "UTF-8";

/* body { */
/*   background-image: url(/motozone/img/index_bg.jpg); */
/*   background-size: cover; */
/*   background-repeat: no-repeat; */
/*   background-position: 0px -50px; */
/*   background-attachment: fixed; */
/* } */
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

h2 {
	margin: 0;
}

nav.forum_topbar {
	position: fixed;
	z-index: 25;
}

/*=====================================================*/
/* icons setting*/
/*i {
	margin: auto;
	width: auto;
	text-align: center;
}*/
.fa-thumbs-up {
	color: #0080ff;
}
/*=====================================================*/
/*forum style*/
/* img { */
/* 	margin: auto; */
/* } */
.forum_editor {
	width: 675px;
	height: 600px;
	margin-top: -40vh;
	margin-left: -20vw;
	overflow: auto;
}

div.forum_list {
	
}

div.forum_forum {
	background-color: lightblue;
	width: 80%;
	margin: 10px auto;
	padding: 10px;
/* 	border: 1px solid DodgerBlue; */
	border-radius: 10px;
	overflow: hidden; /*避免float跑框*/
	background-image: url(""),
		linear-gradient(to right, blue, red);
	background-position: center;
/* 	background-repeat: no-repeat; */
	background-size: contain;
	background-blend-mode: soft-light;
}

div.forum_title_bar {
	margin: auto;
	padding: 5px;
	border-width: 1px;
	border-bottom-style: solid;
	/*border-color: rgba(0, 0, 0, 0.3);*/
	overflow: hidden;
	background-image: linear-gradient(45deg, #ffffffad, #6d45bb59);
 	background-color: #ffffffad  
}

div.forum_name {
	float: left;
	width: 50%;
	margin: auto;
	padding: 5px;
/* 	border: 1px solid DodgerBlue; */
	margin: auto;
}

div.forum_editor_btn {
	float: right;
	height: 40px;
	width: 50px;
	padding: 1px;
	margin: auto;
/* 	border: 1px solid DodgerBlue; */
	width: 50px;
	text-align: center;
}

div.forum_content {
	margin: auto;
	padding: 5px;
/* 	border: 1px solid DodgerBlue; */
	overflow: hidden;
}

div.forum_img {
	float: left;
	height: 330px;
	width: 180px;
	margin: auto;
	padding: 5px;
/* 	border: 1px solid DodgerBlue; */
	border-radius: 10px;
	width: 45%;
	text-align: center;
}

div.forum_articles {
	float: left;
	width: 45%;
	margin: auto;
	padding: 5px;
/* 	border: 1px solid DodgerBlue; */
}
/*forum's article*/

/*=====================================================*/
/*article style*/
div.article_window {
	width: 80%;
	margin: auto;
}

div.article_forumName {
	text-align: center;
}

div.article_article {
	background-image: url("https://i.imgur.com/aHBLs0Z.png"),
		linear-gradient(to right, #e0e0e0, transparent);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: lighten;
	margin: 10px auto;
	padding: 10px;
	border-radius: 10px;
	overflow: hidden; /*避免float跑框*/
}

div.article_name {
	margin: 5px auto;
	padding: 10px;
	border-width: 1px;
	border-bottom-style: solid;
	border-color: rgba(0, 0, 0, 0.3);
}

div.article_content {
	width: 100%;
	margin: 5px auto;
	padding: 0;
	overflow: hidden; /*避免float跑框*/
}

div.article_content_img {
	text-align: center;
	float: left;
	width: auto;
	height: 150px;
	margin: auto;
	padding: 5px;
	/* 	border: 1px solid DodgerBlue; */
}

div.article_content_content {
	float: left;
	width: 65%;
	height: auto;
	margin: auto;
	padding: 5px;
}

div.article_datas {
	/* 	border: 1px solid DodgerBlue; */
	
}

div.article_icons {
	float: left;
	width: 8%;
	padding: 1px;
	margin: auto;
	/* 	border: 1px solid DodgerBlue; */
}

div.article_time_record {
	float: right;
	width: 25%;
	padding: 1px;
	margin: auto;
	/* 	border: 1px solid DodgerBlue; */
}

div.article_content_noimg {
	width: 100%;
}
/*=====================================================*/
/*content stytle*/
div.content_list {
	
}

div.content_unit {
	/* 	background-color: lightblue; */
	margin: 10px auto;
	padding: 10px;
	border: 1px solid black; 
	border-radius: 10px;
	overflow: hidden; /*避免float跑框*/
	background-image: linear-gradient(#e0e0e0, transparent, transparent, transparent,
		transparent, transparent, #e0e0e0);
}

div.content_title {
	text-align: left;
	border-width: 1px;
	border-bottom-style: solid;
	border-color: rgba(0, 0, 0, 0.3);
}

div.content_author_data {
	margin: 5px auto;
	border-width: 1px;
	border-bottom-style: solid;
	border-color: rgba(0, 0, 0, 0.3);
	text-align: left;
	overflow: hidden;
	/* 	避免float跑框 */
}

div.content_author_img {
	float: left;
	width: 150px;
	height: 125px;
}

div.content_author_info {
	float: left;
	width: 300px;
	height: 125px;
}

div.content_time_record {
	float: left;
	width: 25%;
	padding: 1px;
	margin: auto;
	/* 	border: 1px solid DodgerBlue; */
}

div.content_editor_btn {
	float: right;
	height: 40px;
	width: 50px;
	padding: 1px;
	margin: auto;
	/* 	border: 1px solid DodgerBlue; */
	width: 50px;
	text-align: center;
}

div.content_content {
	width: 85%;
	margin: auto;
	overflow: hidden; /*避免float跑框*/
}

div.content_content figure {
	text-align: center;
}

div.content_content figure.media{
	display: block;
}

div.content_article_data {
	margin: 5px auto;
	padding: 10px;
	border-width: 1px;
	border-top-style: solid;
	border-color: rgba(0, 0, 0, 0.3);
	text-align: left;
	overflow: hidden;
	/* 	避免float跑框 */
}

.firends_area {
	width: 350px;
	height: 350px;
	margin-top: -35vh;
	margin-left: -10vw;
	overflow: auto;
}

img.content_head {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: auto;
}
/*=====================================================*/
/*editor stytle*/
.publish-area {
	width: 80vw;
	height: 85vh;
	margin-top: -40vh;
	margin-left: -40vw;
	overflow: auto;
}

.ck-content {
	height: calc(85vh - 320px);
	text-align: left;
}

.forum_close_btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	font-size: 25px;
	line-height: 30px;
	border-radius: 15px;
	cursor: pointer;
	display: block;
	transition: 0.5s;
}