@charset "UTF-8";

/* body { */
/*   background-image: url(/motozone/img/index_bg.jpg); */
/*   background-size: cover; */
/*   background-repeat: no-repeat; */
/*   background-position: 0px -50px; */
/*   background-attachment: fixed; */
/* } */
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

h2 {
	margin: 0;
}

nav.forum_topbar {
	position: fixed;
	z-index: 25;
}

/*=====================================================*/
/* icons setting*/
i {
	margin: auto;
	width: auto;
	text-align: center;
}

.fa-thumbs-up {
	color: #0080ff;
}
/*=====================================================*/
/*forum style*/
/* img { */
/* 	margin: auto; */
/* } */

.forum_editor {
	width: 40vw;
	height: 85vh;
	margin-top: -40vh;
	margin-left: -20vw;
	overflow: auto;
}

div.forum_list {
	width: 80%;
	margin: 5px auto;
	padding: 10px;
	border: 1px solid DodgerBlue;
	overflow: hidden; /*避免float跑框*/
}

div.forum_title_bar {
	margin: auto;
	padding: 5px;
	border: 1px solid DodgerBlue;
	overflow: hidden;
}


div.forum_title_name {
	float: left;
	width: 50%;
	margin: auto;
	padding: 5px;
	border: 1px solid DodgerBlue;
	margin: auto;
}

div.forum_btn {
	float: right;
	height: 30px;
	width: 50px;
	padding: 1px;
	margin: auto;
	border: 1px solid DodgerBlue;
	width: 50px;
}

div.forum_content {
	margin: auto;
	padding: 5px;
	border: 1px solid DodgerBlue;
	overflow: hidden;
}

div.forum_img {
	float: left; width : 45%;
	margin: auto;
	padding: 5px;
	border: 1px solid DodgerBlue;
	width: 45%;
	text-align: center;
}

div.forum_articles {
	float: right;
	width: 45%;
	margin: auto;
	padding: 5px;
	border: 1px solid DodgerBlue;
}
/*forum's article*/

/*=====================================================*/
/*article style*/
div.article {
	width: 80%;
	margin: 5px auto;
	padding: 10px;
	border: 1px solid DodgerBlue;
}

div.article_part {
	width: 100%;
	margin: 5px auto;
	padding: 0;
	/* 	border: 1px solid DodgerBlue; */
	overflow: hidden; /*避免float跑框*/
}

div.article_title {
	margin: 5px auto;
	padding: 10px;
	border: 1px solid DodgerBlue;
}

div.article_img {
	float: left;
	width: 30%;
	margin: auto;
	padding: 5px;
	/* 	border: 1px solid DodgerBlue; */
}

div.article_content {
	float: left;
	width: 65%;
	margin: 5px auto;
	padding: 10px;
	border: 1px solid DodgerBlue;
}

div.article_datas {
	border: 1px solid DodgerBlue;
}

div.article_icons {
	float: left;
	width: 8%;
	padding: 1px;
	margin: auto;
	/* 	border: 1px solid DodgerBlue; */
}

div.article_time_record {
	float: right;
	width: 36%;
	padding: 1px;
	margin: auto;
	/* 	border: 1px solid DodgerBlue; */
}

div.article_content_noimg {
	width: 100%;
}
/*=====================================================*/
/*content stytle*/
div.content_content {
	width: 90%;
	margin: 5px auto;
	padding: 10px;
	border: 3px solid DodgerBlue;
}

div.content_datas {
	width: 90%;
	margin: 5px auto;
	padding: 10px;
	border: 3px solid DodgerBlue;
	overflow: hidden; /*避免float跑框*/
}
.firends_area {
	width: 350px;
	height: 350px;
	margin-top: -35vh;
	margin-left: -10vw;
	overflow: auto;
}
/*=====================================================*/
/*editor stytle*/
.publish-area {
	width: 80vw;
	height: 85vh;
	margin-top: -40vh;
	margin-left: -40vw;
	overflow: auto;
}

.ck-content {
	height: calc(85vh - 320px);
	text-align: left;
}

.forum_close_btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	font-size: 25px;
	line-height: 30px;
	border-radius: 15px;
	cursor: pointer;
	display: block;
	transition: 0.5s;
}