@charset "UTF-8";

* {
  font-family: '微軟正黑體';
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -50px;
  background-attachment: fixed;
}

ul,li {
  list-style: none;
  padding: 0;
  margin: 0;
}

i {
  width: 40px;
  text-align: center;
}

/* Preloader */

#preloader {
    position: fixed;

    /* full scrren */
    top:0;
    left:0;
    right:0;
    bottom:0;
    /* mask color */
    background-color:#fff; 
    z-index:99999; /* makes sure it stays on top */ 
  }

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(/motozone/img/preloader.gif); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  background-size: 120px 120px;
    
  margin:-100px 0 0 -100px; /* get <div> center */
}

/*--------------------*/
/* MENU */
/*--------------------*/


#close {
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	height: 20px;
	position: absolute;
	right: 25px;
	text-align: center;
	top: 20px;
	width: 20px;
}


#menu-btn {
  color: #5b7182;
  font-size: 30px;
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 99;
  transition: 0.5s;
}

#menu-btn:hover {
  color: white;
}



.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}


.main-nav,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* icon area */
#icon {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 200px;
  z-index: 3;
}

#icon img {
  width: 100%;
  z-index: 3;
}

/* login button area */
.login-btn {
  position: fixed;
  top: 15px;
  right: 80px;
  width: 105px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: rgb(0, 162, 255);
  cursor: pointer;
  z-index: 5;
  opacity: 0.7;
}

.login-btn:hover {
  background-color: rgb(0, 195, 255);
  transition: 0.7s;
  opacity: 1;
}

.loggedin-icon {
  position: fixed;
  top: 15px;
  right: 80px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: white;
  z-index: 5;
  cursor: pointer;
  overflow: hidden;
}

.loggedin-icon img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50%;
  width: 100%;
}

#loggedin-list {
  position: fixed;
  top: 70px;
  right: 100px;
  margin-right: -60px;
  padding: 5px;
  width: 120px;
  background-color: white;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  display: none;
  z-index: 5;
}

#loggedin-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  transform: rotate(45deg);
  background-color: white;
  z-index: -1;
}

.loggedin-list-item {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.loggedin-list-item:hover {
  background-color: aqua;
}



/* login area */

.login-area {
  width: 400px;
  height: 450px;
  margin-top: -200px;
  margin-left: -200px;
}

.regist-reply-area .fa-user,
.regist-area .fa-user,
.login-area .fa-user,
.auth-code-input-area .fa-keycdn {
  font-size: 80px;
  margin: 20px auto;
}

.admin-broadcast-area {
  width: 400px;
  height: 175px;
  margin-top: -200px;
  margin-left: -200px;
}

#google-login-btn {
  display: block;
  position: absolute;
  top: 65px;
  left: 40px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  transition: 0.5s;
  cursor: pointer;
}

#google-login-btn:hover {
  color: green;
  transition: 0.5s;
}

/* regist area */
.regist-area {
  width: 400px;
  height: 500px;
  margin-top: -275px;
  margin-left: -200px;
}

/* auth code input area */
.auth-code-input-area{
  width: 400px;
  height: 270px;
  margin-top: -135px;
  margin-left: -200px;
}

/* regist-reply area */

.regist-reply-area {
  width: 400px;
  height: 250px;
  margin-top: -125px;
  margin-left: -200px;
}

.regist-reply-area #regist-msg {
  width: 100%;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
}


/* chat room area */
.chat-room-area {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 650px;
  height: 400px;
  background-color: white;
  border: 1px solid rgb(173, 173, 173);
  z-index: 4;
}

.chat-room-hide {
  right: -625px;
  bottom: -375px;
  border-radius: 10px 0 0 0;
  overflow: hidden;
}

.chat-room-area #chat-room-fn-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 23px;
  background-color: lightgrey;
  border-bottom: 1px solid rgb(172, 172, 172);
  z-index: 4;
}

.chat-room-area #chat-room-fn-area #chat-room-fn-btn-area {
  float: right;
  margin-right: 5px;
  height: 100%;
}

.chat-room-area #chat-room-fn-area #chat-room-fn-btn-area i {
  display: inline-block;
  width: 20px;
  height: 23px;
  font-size: 14px;
  line-height: 23px;
  cursor: pointer;
  transition: 0.7s;
}



.chat-room-area #chat-room-fn-area #chat-room-fn-btn-area i:hover {
  color: red;
  transition: 0.5s;
}

#chat-room-fn-area .fa-comments {
  display: inline-block;
  width: 20px;
  height: 23px;
  margin-left: 2px;
  font-size: 14px;
  line-height: 23px;
  cursor: pointer;
  transition: 0.7s;
}

#chat-room-fn-area .fa-comments:hover {
  color: green;
}

.chat-room-area #chat-room-body {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 23px);
  z-index: 4;
}

.chat-room-area #chat-room-body #chat-room-users {
  float: left;
  margin: 0;
  width: 40%;
  height: 100%;
  background-color: white;
  border-right: 1px solid grey;
  overflow: auto;
}

.chat-room-area #chat-room-body #chat-room-users .chat-room-user {
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid lightgrey;
}

.chat-room-area #chat-room-body #chat-room-users .chat-room-user:hover {
  background-color: rgb(230, 230, 230);
}

.chat-room-user .chat-user-icon {
  display: inline-block;
  width: 66px;
  height: 66px;
  margin: 7px;
  border-radius: 30px;

}

.chat-room-user .chat-user-name {
  position: absolute;
  top: 7px;
  left: 80px;
  height: 20px;
  max-width: 100px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 900;
  overflow : hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
}

.chat-room-user .chat-user-brief-message {
  position: absolute;
  top: 35px;
  left: 80px;
  font-size: 14px;
  max-width: 120px;
  overflow : hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
  color: grey;
}

.chat-room-user .chat-user-message-time {
  position: absolute;
  top: 7px;
  right: 0;
  padding-right: 5px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: grey;
  text-align: right;
}

.chat-room-area #chat-room-body #chat-room-content {
  position: relative;
  float: right;
  margin: 0;
  width: 60%;
  height: 100%;
  background-image: url("/GameBase/img/GameBase.png");
  background-size: cover;
}

#chat-room-content #chat-header-area {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  background-color: lightgrey;
  height: 30px;
}

#chat-header-area #chat-header-name {
  float: left;
  width: 70%;
  height: 30px;
  line-height: 30px;
  margin-left: 7px;
  font-size: 18px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
}

#chat-header-area i {
  float: right;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.7s;
}

#chat-header-area i:hover {
  color: red;
  transition: 0.5s;
}

#chat-room-content #chat-tool-area{
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 100%;
  padding-bottom: 10px;
  border-top: 1px solid grey;
  background-color: lightgrey;
  height: 20px;
}
#chat-tool-area i {
  float: left;
  width: 30px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.7s;
}

#chat-tool-area i:hover {
  color: red;
  transition: 0.5s;
}

#chat-room-content #chat-message-area {
  position: absolute;
  top: 30px;
  right: 0;
  width: 100%;
  padding-bottom: 10px;
  background-color: white;
  height: calc(100% - 110px);
  overflow: auto;
}

/* width */
#chat-room-content #chat-message-area::-webkit-scrollbar,
.chat-room-area #chat-room-body #chat-room-users::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#chat-room-content #chat-message-area::-webkit-scrollbar-track,
.chat-room-area #chat-room-body #chat-room-users::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
#chat-room-content #chat-message-area::-webkit-scrollbar-thumb,
.chat-room-area #chat-room-body #chat-room-users::-webkit-scrollbar-thumb {
  background: rgb(141, 141, 141); 
  border-radius: 5px;
}

/* Handle on hover */
#chat-room-content #chat-message-area::-webkit-scrollbar-thumb:hover,
.chat-room-area #chat-room-body #chat-room-users::-webkit-scrollbar-thumb:hover {
  background: grey; 
}


.chat-messages {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 7px;
}

.chat-messages .chat-message-user-icon {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
}

.chat-messages .chat-message {
  display: flex;
  background-color: lightgrey;
  margin-left: 5px;
  font-size: 18px;
  padding: 5px 10px;
  line-height: 30px;
  max-width: 65%;
  border-radius: 5px;
  word-break: break-all;
}

.chat-messages .chat-file {
  display: flex;
  margin-left: 5px;
  padding: 5px 10px;
  max-width: 40%;
}

.chat-messages .chat-time {
  display: flex;
  width: 40px;
  font-size: 12px;
  color: grey;
  justify-content: center;
  
}

.own-messages {
  flex-direction: row-reverse;
}

.own-messages .chat-message {
  background-color: lightgreen;
}


#chat-room-input-area {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: red;
}

#chat-room-input-area #chat-room-input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  outline: none;
}

.chat-room-area .chat-room-friend-list-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  border: 1px solid lightgrey;
  background-color: white;
  z-index: 3;
}

.chat-room-area .friend-list-show {
  top: 0;
  left: -200px;
}

#friend-list-toggle-btn {
  position: absolute;
  top: 50%;
  left: -15px;
  width: 15px;
  height: 30px;
  margin-top: -15px;
  background-color: rgb(173, 173, 173);
  border-color: grey;
  border: 1px 0 1px 1px; 
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  transition: 0.7s;
}

#friend-list-toggle-btn:hover {
  background-color: grey;
  transition: 0.5s;
}

#friend-list-toggle-btn:hover i {
  color: red;
  transition: 0.5s;
}

#friend-list-toggle-btn i {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 30px;
  color: black;
  transition: 0.7s;
}



#chat-room-friend-list-header {
  width: 100%;
  height: 23px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  background-color: lightgrey;
  border-bottom: 1px solid rgb(172, 172, 172);
  border-right: 1px solid rgb(172, 172, 172);
}

.chat-room-friends {
  clear: both;
  width: 100%;
}

.chat-room-friend {
  clear: both;
  width: 100%;
  height: 40px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.chat-room-friend:hover {
  background-color: rgb(230, 230, 230);
}

.chat-room-friend .chat-room-friend-icon {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  margin: 5px;
}

.chat-room-friend .chat-room-friend-name {
  float: left;
  height: 40px;
  max-width: 100px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space : nowrap;
  overflow: hidden;
}

.chat-room-user-id {
  display: none;
}

.chat-room-friend .chat-room-friend-online-light {
  float: right;
  width: 10px;
  height: 10px;
  margin: 15px;
  background-color: springgreen;
  border-radius: 5px;
}

/* additional class controll (low level) */
#shadow,
#secondShadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  z-index: 25;
  display: none;
}

#secondShadow {
  z-index: 26;
}

.popup-window {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 5px 50px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  z-index: 26;
  opacity: 1;
  overflow: hidden;
}

.hidden-window {
  height: 0;
  opacity: 0;
  pointer-events: none;
}



.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 25px;
  line-height: 30px;
  border-radius: 15px;
  cursor: pointer;
  display: block;
  transition: 0.5s;
}

.close-btn:hover {
  color: red;
  transition: 0.3s;
}

.input-group
{
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.input-group input
{
    position: relative;
    padding-left: 20px;
    width: 100%;
    height: 45px;
    font-size: 20px;
    outline: none;
    background-color: white;
    box-sizing: border-box;
}

.input-group span
{
    position: absolute;
    top: 6px;
    left: 20px;
    padding: 0 5px;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    transition: 0.7s;
}

.input-group input:focus ~ span,
.input-group input:valid ~ span
{
    top: -12px;
    left: 12px;
    font-size: 16px;
    background-color: white;
}

button {
	position: relative;
    width: 100%;
    height: 45px;
    font-weight: 700;
    border: 1px solid grey;
    color: black;
    background-color: rgb(185, 185, 185);
    opacity: 0.7;
    transition: 0.3s;
}

button:hover {
  background-color: rgb(0, 195, 255);
  transition: 0.5s;
}

button img {
  position: absolute;
  top: 7.5px;
  right: 45px;
  display: block;
  width: 30px;
  height: 30px;
  opacity: 0;
}

.disable {
  opacity: 0;
  pointer-events: none;
}

.error-format::after {
  content: '\f00d';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 45px;
  line-height: 45px;
  color: red;
}

.accepted-format::after {
  content: '\f00c';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 45px;
  line-height: 45px;
  color: green;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
