/*topBar*/
.topBar {
	background-color: black;
	width: 100%;
	
}

.topBarFixed {
	background-color: black;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height:120px;
	z-index: 25;
}

.shot {
	border-radius: 50%;
}

.indexImg {
	width: 100%;
}

.forumBGC {
	background-color: oldlace;
	margin: 5px;
}

.forumImg {
	width: 100%;
	margin: 5px;
}

.forumBorder {
	margin-top: 5px;
	border: 1px solid gray;
}

#resultsDiv {
	width: auto;
	display: table;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

td {
	text-align: center;
}

.resultImg {
	width: 200px;
	height: 260px;
}

.mallImg {
	width: 100%;
}

.carouselImg {
	width: 1900px;
}

.search-submit-btn{width: 20%}