/*topBar*/
body{background-color: rgb(245, 245, 245);}

.topBarFixed {
	background-color: black;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	z-index: 25;
	margin-bottom: 10px;
}

.shot {
	border-radius: 50%;
}

.indexImg {
	width: 100%;
}

.forumBGC {
	background-color: oldlace;
	margin: 5px;
}

.forumImg {
	width: 100%;
	margin: 5px;
}

.forumBorder {
	margin-top: 5px;
	border: 1px solid gray;
}

.resultCenter {
	width: auto;
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.resultImg {
	width: 200px;
	height: 260px;
}

.mallImg {
	width: 100%;
}

.carouselImg {
	width: 90%;
	height: 380px;
}

.search-input {
	width: 800px;
	margin: 0px 5px 0px 5px;
}



.userNameBtn {
	width: 70%;
}


/*searchResults Style*/
.cardSize {
	width: 24.70%;
	margin: 1px;
	cursor: pointer;
}

.center {
	margin: auto;
}

.bg-rgb220 {
	background-color: rgb(220, 220, 220);
	margin-bottom: 10px;
}

.bg-rgb245 {
	background-color: rgb(245, 245, 245);
}

.card-title {
	font-size: 17px;
}

.card-subtitle {
	font-size: 13px;
}

.card-img-top {
	height: 250px;
}

.selectBarBtn {
	height: 99%;
	width: 90px;
}

.pageBnt {
	height: 99%;
	border: none;
}

.pageLi {
	margin-right: 3px;
}

.modal-width {
	width: 100%;
	height: 250px;
}

.gray-boder {
	border: 1px gray solid;
}

.row-height {
	height: 50%;
}

.number-btn {
	width: 40px;
	height: 30px;
	margin: 0px 10px 5px 10px;
}

.buy-quantity {
	margin: 8px;
}

.close {
	width: 12%;
}

.bottom-bnt {
	width: 150px;
	height: 50px;
}