
.form-control{
	width:800px;
	margin:auto;
}
#yourData{
	font-size:45px;
	margin-top: 30px;
	margin-bottom:20px;
}
.form-group-lg{
	font-size: 25px;

}
button{
	margin:auto;
	width:100px;
	height:40px;
	font-size:23px;
}
input{
	margin:auto;
	width:100px;
	height:40px;
	font-size:23px;
}
body {
	text-align: center;
}

#user-photo {
	width: 300px;
	height: 300px;
	margin-top: 10px;
}

#photo {
	max-width: 100%;
	max-height: 350px;
}

.img-preview-box {
	text-align: center;
}

.img-preview-box>div {
	display: inline-block;;
	margin-right: 10px;
}

.img-preview {
	overflow: hidden;
}

.img-preview-box .img-preview-lg {
	width: 150px;
	height: 150px;
}

.img-preview-box .img-preview-md {
	width: 100px;
	height: 100px;
}

.img-preview-box .img-preview-sm {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
#phoneErr{
	color:red;
}
#ageErr{
	color:red;
}

