<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<!-- <property name="hibernate.connection.datasource">java:comp/env/jdbc/MotoZoneDB</property> -->

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<!-- <property name="hbm2ddl.auto">update</property> -->
		<!-- need to open this line during executing test -->
		<!-- <property name="current_session_context_class">thread</property> -->
		<!-- article area -->
		<!-- <mapping class="com.gamer.model.LoginInfo"/> -->
		<!-- <mapping class="com.gamer.model.UserInfo"/> -->
		<!-- <mapping class="com.gamer.model.Product"/> -->



		<!-- Member Area -->
		<mapping class="com.gamebase.member.model.UserData" />
		<mapping class="com.gamebase.member.model.Role" />
		<mapping class="com.gamebase.member.model.Rank" />
		<mapping class="com.gamebase.member.model.Friends" />
		<!-- <mapping class="com.gamebase.member.model.UserProfile" /> -->
		<mapping class="com.gamebase.member.model.UserProfile" />

		<!-- TradeSystem Area -->
		<mapping class="com.gamebase.tradesystem.model.Game" />
		<mapping class="com.gamebase.tradesystem.model.Product" />
		<mapping class="com.gamebase.tradesystem.model.UserOrder" />
		<mapping class="com.gamebase.tradesystem.model.OrderDetail" />
		<mapping class="com.gamebase.tradesystem.model.ShoppingCart" />
		<!-- Article Area -->
		<mapping class="com.gamebase.article.model.Article" />
		<mapping class="com.gamebase.article.model.ArticleTitle" />		<!-- 標題  -->
		<mapping class="com.gamebase.article.model.ArticleContent" />	<!-- 內文  -->
		<mapping class="com.gamebase.article.model.ArticleData" />		<!-- 數據  -->
		<mapping class="com.gamebase.article.model.ArticleRecord" />	<!-- 紀錄  -->
		<mapping class="com.gamebase.article.model.ForumImg" />
		<mapping class="com.gamebase.article.model.News" />
		<mapping class="com.gamebase.article.model.MsgBoard" /><!-- for test -->
		<mapping class="com.gamebase.article.model.Forum" />			<!-- 論壇 -->

		<!-- WebSocket Area -->
		<mapping class="com.gamebase.general.model.WebSocketMessage" />
		<mapping class="com.gamebase.general.model.ChatBot" />


	</session-factory>
</hibernate-configuration>
